body {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s ease;
}

#textarea {
    background-color: transparent;
    border: 2px dashed black;
    font-size: 2.5vh;
    text-shadow: 1px 1px 2px black;
    position: relative;
    margin: 2vh;
    max-width: 42vh;
    min-width: 42vh;
    max-height: 30vh;
    min-height: 30vh;
    transition: all 1s ease;

}

#textarea:focus {
    outline: none;
}

.innhold {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70%;
}

#vis_mer {
    background-color: transparent;
    border: none;
    text-decoration:underline;
    color: blue;
    margin: 1vh;
}

#vis_mer:hover {
    cursor: pointer;
}

#hjelp {
    display: none;
}

#kort {
    border: 2px solid black;
    width: 100vh;
    height: 60vh;
    display: flex;
    flex-flow: row wrap;
    box-shadow: 1vh 1vh 3vh black;
}

#navn_og_tittel {
    display: flex;
    flex-direction: column;
    width: 65vh;
    height: 20vh;
    margin: 2vh;
}

#bilde {
    width: 20vh;
    height: 20vh;
}

#kort_topp {
    height: 20vh;
    display: flex;
    transition: all 0.5s ease;
    flex-direction: row;
}

#bildeknapp {
    background-color: none;
    border: none;
    transition: all 0.5s ease;
    height: 20vh;
    width: 20vh;
    color: transparent;
    background-image: url("bilder/bilde_placeholder.webp");
    background-size:cover;
    margin: 3vh;
    box-shadow: 1vh 1vh 1vh black;
    border: 2px solid black;
}

#bildeknapp:hover {
    transform: scale(1.3);
}

.navn-tittel {
    height: 10vh;
    width: 40vh;
    background-color: transparent;
    border: none;
    display: flex;
    text-shadow: 1px 1px 2px black;
}

#navn, #tittel {
    width: 100%;
}

#navn h2, #tittel p, #tlf, #addresse p  {
    transition: all 0.2s ease;
    border-bottom: 0px solid black;
}

#navn h2:focus, #tittel p:focus,  #email p:focus, #tlf:focus, #addresse p:focus  {
    outline: none;
    border-bottom: 3px solid black;
}


#navn h2 {
    font-size: 36px;
    
}

#navn h2:hover, #tittel p:hover, #email p:hover, #tlf:hover, #addresse p:hover  {
    color: blue;
    cursor: text;
}

#email {
    background-color: transparent;
    border: none;
    
}

#tittel {
    font-size: 20px;
    margin-top: -3vh;
}

#kort_innhold {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2vh;
}

#venstre {
    width: 48vh;
    height: 30vh;
}

#venstre {
    max-width: 46vh;
    min-width: 48vh;
    max-height: 30vh;
    min-height: 30vh;
}

#eposttekst, #nr, #tlf, #addresse p {
    text-shadow: 1px 1px 2px black;
}

#hoeyre {
    max-height: 30vh;
    display: flex;
    flex-direction: column;
    transition: all 1s ease;
}

#top {
    width: 48vh;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#bunn {
    height: 15vh;
    width: 48vh;
}

#bunn h3 {
    margin: 1vh;
    text-shadow: 1px 1px 2px black;
}

#addresse {
    margin: 1vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

#hoeyre2, #venstre2 {
    display: flex;
    flex-direction: column;
    margin: 1vh;
}

#modify_kort {
    margin: 4vh;
}

#bytt_posisjon {
    margin-top: 4vh;
    display: flex;
    flex-direction: column; 
    width: 60vh;   
    box-shadow: 1vh 1vh 1vh black;
}

#bytt_top, #bytt_bunn {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.radio {
    transition: all 0.5s ease;
}

.radio:hover {
    cursor: pointer;
    transform: scale(2.5);
}

.radio:active {
    transform: scale(1.2);
}

